body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: #353535;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}


.team_member{

    display:inline;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #000;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #1F3A93;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #1F3A93;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        /*Nav bar background color */
        background-color: #EDEDED;
        opacity: .9;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    /*under the eagle text color */
    color: #1F3A93; 
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.portfolio-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/mymap.png) no-repeat center center scroll;
    background-color: #446CB3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.banner_holder {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/banner.jpg) no-repeat center center scroll;
    background-color: #446CB3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .portfolio-section {
        padding: 100px 0;
    }
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #ad050b;
    color: #ad050b;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #ad050b;
    outline: 0;
    color: #000;
    background-color: #ad050b;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}



.page-container {
    margin: 0 auto;
    padding: 60px 0 20px 0;
}

.contact-us {
    position: relative;
    width: 400px;
    margin: 0 auto;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.contact-us h1 {
    height: 80px;
    margin-bottom: 0px;
    background: #3d5054;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 30px;
    color: #ededed;
    text-transform: uppercase;
    line-height: 80px;
    text-align: center;
    text-shadow: 0 0px 0 #e15e28;
}

.contact-us input {
    width: 360px;
    height: 38px;
    margin: 0 0 0px 0px;
    padding: 0 18px;
    background: #fff;
    border-top: 0px;
    border-left: 0px;
    border-right:0px;
    border-bottom: 1px solid #ededed;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #22313F;
    outline: none;
}

.contact-us input:-moz-placeholder { color: #ffffff; }
.contact-us input:-ms-input-placeholder { color: #ffffff; }
.contact-us input::-webkit-input-placeholder { color: ; }

.contact-us textarea {
    width: 360px;
    height: 92px;
    margin: 0 0 0px 0px;
    padding: 10px 18px 0 18px;
  resize: none;
    background: #fff;
    border: 0px solid #fff;
    -moz-box-shadow: 0 0px 0 0 #fff;
    -webkit-box-shadow: 0 5px 0 0 #fff;
    box-shadow: 0 5px 0 0 #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #22313F;
    outline: none;
}

.contact-us textarea:-moz-placeholder { color: #fff; }
.contact-us textarea:-ms-input-placeholder { color: #fff; }
.contact-us textarea::-webkit-input-placeholder { color:; }

.contact-us button {
    width: 400px;
    height: 70px;
    margin-top: 14px;
    padding: 0;
    background: #;
    border: 0;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    line-height: 70px;
    text-align: center;
    text-shadow: 0 0px 0 #fff;
}

.contact-us button:hover {
    background: #3d5054;
    color: #f8f8f8;
    text-shadow: 0 3px 0 #333333;
}

.contact-us input:focus,
.contact-us textarea:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact-us input,
.contact-us textarea,
.contact-us button {
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.contact-us p {
    margin: 0 30px;
    padding-bottom: 30px;
    font-size: 15px;
    color: #cc9471;
    line-height: 30px;
}

.error {
    display: none;
    position: absolute;
    left: 390px;
    height: 44px;
    padding: 0 25px;
    background: #f8cc37;
    font-size: 15px;
    color: #4b2813;
    font-style: italic;
    line-height: 44px;
    white-space: nowrap;
    text-shadow: 0 2px 0 #fce653;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.error::before {
    content: '';
    position: absolute;
    top: 17px;
    left: -15px;
    border: 5px solid rgba(248, 204, 55, 0);
    border-right: 10px solid #f8cc37;
}