/* ==================================================
   Team profiles
   ================================================== */
.profiles .t{
  margin-bottom: -20px;
}

.intro .lead .t{
  line-height: 120%;
  font-size: 1.1em;
  font-style: italic;
  margin: 0 0 35px;
}
.profile .t{
  position: relative;
  margin: 0 0 20px;
}
.profile:nth-child(even) {
  clear: left;
}
.profile-header .t{
  position: absolute;
  top: 0;
}
.profile-header .t img {
  float: left;
}
.profile-content .t{
  font-size: 14px;
  padding: 27px 20px 0 0;
  line-height: 1.4em;
  margin: 0 0 0 125px;
}
.profile-content .t h3 {
  margin: 0;
}
.profile-content .lead .t{
  font-size: 1.3em;
  line-height: 100%;
  font-style: italic;
  margin: 3px 0 20px;
}
.profile-content:before .t{
  content: '';
  width: 36px;
  height: 3px;
  background: #dededc;
  position: absolute;
  top: 0;
}
.profile-content .t p {
  margin: 0 0 10px;
}
.profile-footer .t {
  position: absolute;
  top: 121px;
  width: 100px;
  text-align: center;
}
.profile-footer .t a {
  line-height: 18px;
  margin: 0 3px;
  display: inline-block;
}
.profile-footer .t a:hover i {
  color: #595959;
}
.profile-footer a:active i {
  color: #000;
}
.profile-footer .t i {
  font-size: 18px;
  position: relative;
}
.profile-footer i.icon-envelope {
  font-size: 16px;
  top: -1px;
}
.profile-footer i.icon-linkedin {
  font-size: 16px;
  top: -1px;
}
